body{
  background-color: #061422 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: .7rem !important;
}

.test_text{
  text-align: center;
  color:#fff;
  padding:4%;
}

@media (max-width: 1919px) {
  .titleName {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    padding: 12px;
    padding-left: 16px;
  }
}

@media (min-width: 1920px) {
  .titleName {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    text-transform: capitalize;
    padding: 12px;
    padding-left: 16px;
  }
}

.table td, .table th{
  border-top: 0.5px solid #becde0 !important;
}


.table thead th{
  border-bottom: 0.5px solid #becde0 !important;
}

.table thead tr th {
  color: #6e7f95!important;
  font-weight: bold !important;
  border-top: 0px solid #fff !important;
}

.table tbody tr th {
  color: #ffffff!important;
}

th {
  color: #6e7f95!important;
  font-weight: normal;
}


.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: fixed;
  z-index: 999;
  height: 5em;
  width: 5em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.error {
  border: 1px solid red;

}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

